.icons{
  display: inline-block;
  width: 4em;
  height: 1.5em;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.B{
   background-image: url('./../public/icons/B.svg');
 }

.T1{
  background-image: url('./../public/icons/T1.svg');
}

.C3{
  background-image: url('./../public/icons/C3.svg');
}

.C9{
  background-image: url('./../public/icons/C9.svg');
}

.C13{
  background-image: url('./../public/icons/C13.svg');
}

.C14{
  background-image: url('./../public/icons/C14.svg');
}

.l27{
  background-image: url('./../public/icons/27.svg');
}

.C4{
  background-image: url('./../public/icons/C4.svg');
}