//colors
$sealBrown: #682201;
$deepMauve: #CD66CC;
$richBrilliantLavender: #FF99FE;
$mistyRose: #FFE5E4;

//responsive
$breakpoints: (
        mobile: 375px,
        tablet: 768px,
        desktop: 1280px,
        widescreen: 1440px,
);